<div class="d-flex justify-content-between align-items-center border-bottom border-dark border-4 back-color">
    <a class="fs-6 text-decoration-none m-3" routerLink="home">Home</a>
    <a class="fs-6 text-decoration-none m-3" routerLink="new-post">Nuovo Post</a>
    <a class="fs-6 text-decoration-none m-3" routerLink="gestione-utenti">Gestione utenti</a>
    <p-button styleClass="p-button-rounded p-button-danger border border-white" class="m-3" (click)="logout()" routerLink="login">Logout</p-button>
</div>

