<div class="d-flex justify-content-center align-items-center back-image">
    <mat-card class="container">
        <form [formGroup]="formLogin" class="m-4">
            <div class="d-flex my-4 justify-content-center">
                <h1 class="text-primary fw-bolder">LOGIN</h1>
            </div>
            <div class="row my-4">
                <mat-form-field class="col" appearance="outline">
                    <mat-label>Username</mat-label>
                    <input class="w-100" formControlName="username"  matInput placeholder="Mario99">
                    <mat-error *ngIf="formLogin.controls['username'].invalid">{{getRequiredErrorMessage('username')}}</mat-error>
                </mat-form-field>
            </div>
            <div class="row my-4">
                <mat-form-field class="col" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input class="w-100" formControlName="password" matInput placeholder="!a1Ab2B@" [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="formLogin.controls['password'].invalid">{{getRequiredErrorMessage('password')}}</mat-error>
                  </mat-form-field>
            </div>
            <div class="row my-4">
                <p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'" [showTransformOptions]="'translateX(100%)'"></p-toast>
                <div class="d-flex justify-content-end">
                    <button mat-raised-button color="accent" routerLink="/registrazione-utente">Go To Registrazione<mat-icon>arrow_back</mat-icon></button>
                    <button mat-raised-button color="primary" class="ms-3" (click)="login()" [disabled]="!formLogin.valid">LOGIN</button>
                </div>
            </div>
        </form>
    </mat-card>
</div>